# Backend
fastapi
uvicorn[standard]
gunicorn

pymongo
chromadb>=0.6.0
python-dotenv
pydantic>=2.0
pydantic-settings
pdfplumber
rapidfuzz
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
email-validator
pydantic[email]
python-multipart
python-docx

# Frontend
streamlit
requests
pandas
matplotlib
plotly
numpy>=2.1.0
